<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="author" content="GUYAHSUAN Law Office" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title th:text="${title}">GUYAHSUAN Law Office | 古雅軒法律事務所</title>
    <meta name="keywords" content="GUYAHSUAN、古雅軒法律事務所、古雅軒、法律事務所、黃煦詮律師、台中法律事務所、專業法律服務" />
    <meta name="description" th:content="${site != null ? site.get('description') : '古雅軒法律事務所'}" />
    <link rel="shortcut icon" href="/img/logos/favicon.png" />
    <link rel="stylesheet" href="/css/plugins.css" />
    <link rel="stylesheet" href="/search/search.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/custom.css" />
</head>

<nav th:fragment="header" class="header-style2">
    <div class="navbar-default border-bottom border-color-light-white">
        <div class="top-search bg-secondary">
            <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                <form class="search-form" action="/share" method="GET">
                    <div class="input-group">
                        <span class="input-group-addon cursor-pointer">
                            <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                        </span>
                        <input type="text" class="search-form_input form-control" name="keyword" autocomplete="off" placeholder="搜尋...">
                        <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                    </div>
                </form>
            </div>
        </div>

        <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="menu_area alt-font">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <div class="navbar-header navbar-header-custom">
                                <a href="/" class="navbar-brand logodefault">
                                    <img id="logo" src="/img/logos/logo.png" alt="logo" />
                                </a>
                            </div>
                            <div class="navbar-toggler bg-primary"></div>
                            <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                <li><a href="/attorney" style="letter-spacing:4px;">律師等</a></li>
                                <li><a href="/service" style="letter-spacing:4px;">業務領域</a></li>
                                <li><a href="/case" style="letter-spacing:4px;">案件實績</a></li>
                                <li><a href="/share" style="letter-spacing:4px;">情報分享</a></li>
                                <li><a href="/about" style="letter-spacing:4px;">事務所概要</a></li>
                            </ul>
                            <div class="attr-nav align-items-xl-center ms-xl-auto main-font">
                                <ul>
                                    <li class="d-none d-xl-inline-block"><a href="/consultation" class="butn md text-white">免費法律諮詢</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="bg-secondary">
    <div class="container">
        <div class="row mt-n1-9">
            <div class="col-md-6 col-lg-3 mt-1-9">
                <div class="footer-logo">
                    <img src="/img/logos/logo.png" alt="logo" />
                </div>
                <p class="mt-3 text-white opacity8" th:text="${site != null ? site.get('description') : ''}">古雅軒法律事務所</p>
            </div>
            <div class="col-md-6 col-lg-3 mt-1-9">
                <h3 class="text-white h4 font-weight-700 mb-1-6" style="letter-spacing:4px;">快速連結</h3>
                <ul class="footer-list">
                    <li><a href="/about" class="text-white opacity8">事務所概要</a></li>
                    <li><a href="/attorney" class="text-white opacity8">律師等</a></li>
                    <li><a href="/service" class="text-white opacity8">業務領域</a></li>
                    <li><a href="/case" class="text-white opacity8">案件實績</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mt-1-9">
                <h3 class="text-white h4 font-weight-700 mb-1-6" style="letter-spacing:4px;">聯繫我們</h3>
                <ul class="footer-list">
                    <li class="text-white opacity8"><i class="fas fa-phone-alt me-2"></i><span th:text="${site != null ? site.get('phone') : ''}">04-25353236</span></li>
                    <li class="text-white opacity8"><i class="fas fa-map-marker-alt me-2"></i><span th:text="${site != null ? site.get('address') : ''}">臺中市北屯區</span></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mt-1-9">
                <h3 class="text-white h4 font-weight-700 mb-1-6" style="letter-spacing:4px;">服務時間</h3>
                <p class="text-white opacity8" th:text="${site != null ? site.get('service_time') : ''}">週一至週五 09:00-18:00</p>
            </div>
        </div>
    </div>
    <div class="footer-bar bg-dark">
        <div class="container">
            <p class="mb-0 text-white opacity6 text-center">&copy; <span>2026</span> GUYAHSUAN Law Office. All Rights Reserved.</p>
        </div>
    </div>
</footer>