<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- title -->
    <title>404 - 頁面未找到</title>
    <meta name="keywords" content="GUYAHSUAN、古雅軒法律事務所、古雅軒、法律事務所、黃煦詮律師、台中法律事務所、專業法律服務、各類訴訟、預防諮詢、調解談判、非訟強執、債務清理、法律顧問、撰狀擬約、遺囑見證、檢警陪偵、羈押律見" />
    <meta name="description" content="GUYAHSUAN、古雅軒法律事務所、古雅軒、法律事務所、黃煦詮律師、台中法律事務所、專業法律服務、各類訴訟、預防諮詢、調解談判、非訟強執、債務清理、法律顧問、撰狀擬約、遺囑見證、檢警陪偵、羈押律見" />

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css" />

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css" />

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- custom css -->
    <link href="/css/custom.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- 404 PAGE
    ================================================== -->
    <section class="full-screen cover-background p-0 bg-img d-flex align-items-center min-vh-100 secondary-overlay" data-overlay-dark="8" data-background="/img/bg/bg-04.jpg" style="background-color:#dedede">
        <div class="container" style="background-color:#dedede">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center bg-white py-1-6 py-sm-1-9 py-lg-2-9 py-xl-6 px-1-6 px-sm-1-9 px-xl-2-5">
                        <img class="mb-1-9" src="/img/error-img.jpg" alt="古雅軒法律事務">
                        <h3 class="h2 mb-3">Opps! Page Not Found</h3>
                        <a th:href="@{/}" class="butn md butn-hover">Return Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- search -->
    <script src="/search/search.js"></script>

    <!-- navigation -->
    <script src="/js/nav-menu.js"></script>

    <!-- tab -->
    <script src="/js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="/js/owl.carousel.js"></script>

    <!-- owl carousel thumb -->
    <script src="/js/owl.carousel.thumbs.js"></script>

    <!-- jquery.counterup.min -->
    <script src="/js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="/js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="/js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="/js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="/js/jquery.magnific-popup.min.js"></script>

    <!-- lightgallery js -->
    <script src="/js/lightgallery-all.js"></script>

    <!-- mousewheel js -->
    <script src="/js/jquery.mousewheel.min.js"></script>

    <!--  clipboard js -->
    <script src="/js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="/js/prism.js"></script>

    <!-- custom scripts -->
    <script src="/js/main.js"></script>

    <!-- form plugins js -->
    <script src="/quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="/quform/js/scripts.js"></script>

</body>

</html>