<!DOCTYPE html>
<html lang="zh-TW" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{fragments/layout}">

<head>
    <title>GUYAHSUAN Law Office | 古雅軒法律事務所 - 500 伺服器錯誤</title>
</head>

<body>

<th:block layout:fragment="content">

    <!-- 500 PAGE
    ================================================== -->
    <section class="full-screen cover-background p-0 bg-img d-flex align-items-center min-vh-100 secondary-overlay" data-overlay-dark="8" th:data-background="@{/img/bg/bg-04.jpg}" style="background-color:#dedede">
        <div class="container" style="background-color:#dedede">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center bg-white py-1-6 py-sm-1-9 py-lg-2-9 py-xl-6 px-1-6 px-sm-1-9 px-xl-2-5">
                        <img class="mb-1-9" th:src="@{/img/error-img.jpg}" alt="古雅軒法律事務所">
                        <h3 class="h2 mb-3">500 Internal Server Error</h3>
                        <p class="mb-1-6 text-muted">伺服器發生內部錯誤，請稍後再試</p>
                        <a th:href="@{/index.html}" class="butn md butn-hover">返回首頁</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>

</body>

</html>