<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('GUYAHSUAN Law Office | 事務所概要')}"></head>
<body>
    <div id="preloader"></div>
    <div class="main-wrapper">
        <header th:replace="~{fragments/layout :: headerInner}"></header>

        <!-- PAGE TITLE
        ================================================== -->
        <section class="top-position1 pt-0" style="background: #e3e4e5;">
            <div class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="/img/bg/bg-04.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <h1>Guyahsuan Law Office</h1>
                                <p class="text-white fs-4 mb-0 letter-spacing-2" style="letter-spacing:7px;">/黃煦詮律師　鄭文朋律師　陳庭浩律師</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COUNTER
            ================================================== -->
            <section class="bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="/img/about_bg.jpg">
                <div class="container">
                    <div class="row mt-n1-9">
                        <div class="col-sm-6 col-lg-3 mt-1-9">
                        </div>
                    </div>
                </div>
            </section>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb">
                            <ul>
                                <li><a th:href="@{/}">Home</a></li>
                                <li><a th:href="@{/about.html}">Office Introduction</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUTUS
        ================================================== -->
        <section class="about-style2" style="background: #e3e4e5;padding-bottom: 200px;padding-top: 0px;">
            <div class="container">
                <div class="section-heading" style="padding-bottom: 50px;">
                    <span class="alt-font" style="letter-spacing:10px;">事務所概要</span>
                    <h2>Office Introduction</h2>
                </div>
                <div class="row align-items-center mt-n1-9">
                    <div class="col-lg-6 mt-1-9">
                        <div class="text-center text-sm-end text-lg-center position-relative left-img">
                            <img src="/img/about-02.jpg" alt="古雅軒外觀">
                            <img src="/img/about-01.jpg" class="about-pic d-none d-sm-block" alt="古雅軒外觀">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-1-9">
                        <div class="ps-lg-1-9 ps-xl-6">
                            <h2 class="h1 mb-4 w-95" style="font-size: 1.7rem;">About Us</h2>
                            <p class="mb-2-2 lead fst-italic font-weight-400 text-primary"
                               th:text="${site != null and site.get('description') != null} ? ${site.get('description')} : '古雅軒法律事務所－距離臺中地院25分鐘－為一處遠離市中心紛擾，鄰近台鐵頭家厝站、松竹站及中捷松竹站旁交通便捷的事務所，於此您可以安心交由我們出謀劃策，本所同仁具備以下優勢，提供當事人專業法律服務：'">
                                古雅軒法律事務所描述
                            </p>
                            <div class="borders-bottom border-color-light pb-1-9 mb-1-9">
                                <div class="row mt-n4">
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="/img/about_icon.jpg" class="rounded-circle">
                                    <span class="bg-primary about-icon text-white"><i class="fas fa-phone-alt" style="color:#fff;"></i></span>
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <h4 class="mb-0 h5" style="color:#000;">Contact Us：<span th:text="${site != null ? site.get('phone') : '04-25353236'}">04-25353236</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Attorneys
        ================================================== -->
        <section class="bg-light">
            <div class="container">
                <div class="section-heading">
                    <span class="alt-font" style="letter-spacing:10px;">律師團隊</span>
                    <h2>Our Attorneys</h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-md-6 col-lg-4 mt-1-9" th:each="att : ${attorneys}">
                        <div class="card card-style6 border-radius-5 border-0" style="background-color:#e2e3e4">
                            <div class="card-body" th:if="${att['photo'] != null and att['photo'] != ''}">
                                <img th:src="${att['photo']}" th:alt="${att['name']}" style="width:100%;max-height:300px;object-fit:cover;border-radius:5px;">
                            </div>
                            <div class="card-body">
                                <h4><a th:href="@{/attorney/{id}(id=${att['id']})}" th:text="${att['name']}">律師姓名</a></h4>
                                <span class="text-primary" th:text="${att['title']}">職稱</span>
                                <p class="mt-2" th:text="${att['specialty'] != null} ? ${#strings.abbreviate(att['specialty'], 100)} : ''">專長</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="~{fragments/layout :: footer}"></footer>
    </div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/search/search.js"></script>
    <script src="/js/nav-menu.js"></script>
    <script src="/js/easy.responsive.tabs.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/owl.carousel.thumbs.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/countdown.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/lightgallery-all.js"></script>
    <script src="/js/jquery.mousewheel.min.js"></script>
    <script src="/js/clipboard.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/main.js"></script>
    <script src="/quform/js/plugins.js"></script>
    <script src="/quform/js/scripts.js"></script>
</body>
</html>