<!DOCTYPE html>
<html lang="zh-TW" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{fragments/layout}">

<head>
    <title>GUYAHSUAN Law Office | 古雅軒法律事務所 | Attorneys, etc. 律師等</title>
</head>

<body>

<th:block layout:fragment="content">

<!-- PAGE TITLE
        ================================================== -->
        <section class="top-position1 pt-0" style="background: #e3e4e5;padding-bottom: 70px;">
            <div class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="img/bg/bg-04.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <h1>Guyahsuan  Law Office</h1>
                                <p class="text-white fs-4 mb-0 letter-spacing-2" style="letter-spacing:7px;">/黃煦詮律師　鄭文朋律師 　陳庭浩律師</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
			        <!-- COUNTER
        ================================================== -->
        <section class="bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="img/attorney_bg.jpg">
            <div class="container">
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                           
                    </div>
                    
                    
                    
                </div>
            </div>
        </section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="attorney.html">Attorneys, etc.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- attorney
        ================================================== -->
        <section class="pt-0"style="background: #e3e4e5;padding-bottom: 200px;">
            <div class="container">
                <div class="section-heading"style="padding-bottom: 50px;">
                    <span class="alt-font"style="letter-spacing:10px;">律師等</span>
                    <h2>Attorneys, etc.</h2>
                </div>
                 <!-- TEAM
        ================================================== -->
        <section style="padding: 0px">
            <div class="container">
                
                <div class="row mt-n1-9" >
                    <div class="col-sm-6 col-lg-4 mt-1-9">
                        <div class="card card-style6 border-radius-5 border-0" style="background-color:#e2e3e4">
                            <div class="team-img position-relative overflow-hidden border-radius-5">
                                <img src="img/team/poto1.jpg" alt="黃煦詮 律師">
                                
                            </div>
                            <div class="card-body">
                                <h4><a href="attorney_1.html">黃煦詮 律師</a></h4>
                                <span class="text-primary">所　長</span>
								
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mt-1-9">
                        <div class="card card-style6 border-radius-5 border-0" style="background-color:#e2e3e4">
                            <div class="team-img position-relative overflow-hidden border-radius-5">
                                <img src="img/team/poto2.jpg" alt="鄭文朋 律師">
                                
                            </div>
                            <div class="card-body">
                                <h4><a href="attorney_2.html">鄭文朋 律師</a></h4>
                                <span class="text-primary">律　師</span>
								
                            </div>
                        </div>
                    </div><div class="col-sm-6 col-lg-4 mt-1-9">
                        <div class="card card-style6 border-radius-5 border-0" style="background-color:#e2e3e4">
                            <div class="team-img position-relative overflow-hidden border-radius-5">
                                <img src="img/team/poto3.jpg" alt="陳庭浩 律師">
                                
                            </div>
                            <div class="card-body">
                                <h4><a href="attorney_3.html">陳庭浩 律師</a></h4>
                                <span class="text-primary">合署律師</span>
								
                            </div>
                        </div>
                    </div>
                    
                </div>
				<div class="row mt-n1-9" style="padding-top: 50px">
                    
                    
                    <div class="col-sm-6 col-lg-4 mt-1-9">
                        <div class="card card-style6 border-radius-5 border-0" style="background-color:#e2e3e4">
                            <div class="team-img position-relative overflow-hidden border-radius-5">
                                <img src="img/team/poto4.jpg" alt="陳姿伃 法務">
                                
                            </div>
                            <div class="card-body">
                                <h4><a href="attorney_4.html">陳姿伃</a></h4>
                                <span class="text-primary">法　務</span>
								
                            </div>
                        </div>
                    </div>
					<div class="col-sm-6 col-lg-4 mt-1-9">
                        <div class="card card-style6 border-radius-5 border-0" style="background-color:#e2e3e4">
                            <div class="team-img position-relative overflow-hidden border-radius-5">
                                <img src="img/team/poto5.jpg" alt="郭玟妤 行政">
                                
                            </div>
                            <div class="card-body">
                                <h4><a href="#.html">郭玟妤</a></h4>
                                <span class="text-primary">行　政</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            </div>
        </section>

 





         <!-- FOOTER
        ================================================== -->

</th:block>

</body>

</html>