<!DOCTYPE html>
<html lang="zh-TW" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{fragments/layout}">

<head>
    <title>GUYAHSUAN Law Office | 古雅軒法律事務所 | Attorneys, etc. 律師等</title>
</head>

<body>

<th:block layout:fragment="content">

<!-- PAGE TITLE
        ================================================== -->
        <section class="top-position1 pt-0" style="background: #e3e4e5;padding-bottom: 70px;">
            <div class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="img/bg/bg-04.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <h1>Guyahsuan  Law Office</h1>
                                <p class="text-white fs-4 mb-0 letter-spacing-2" style="letter-spacing:7px;">/黃煦詮律師　鄭文朋律師 　陳庭浩律師</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
			        <!-- COUNTER
        ================================================== -->
        <section class="bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="img/attorney_bg.jpg">
            <div class="container">
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                           
                    </div>
                    
                    
                    
                </div>
            </div>
        </section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="attorney.html">Attorneys, etc.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- attorney
        ================================================== -->
        <section class="pt-0"style="background: #e3e4e5;padding-bottom: 200px;">
            <div class="container">
                <div class="section-heading"style="padding-bottom: 50px;">
                    <span class="alt-font"style="letter-spacing:10px;">所　長</span>
                    <h2 style="font-size: 1.8rem;">黃煦詮 律師</h2>
                </div>
                 <!-- TEAM
        ================================================== -->
        <section style="padding: 0px">
            <div class="container">
				
                <div class="row g-0 justify-content-center">
                    <div class="col-lg-4 order-2 order-lg-1">
                        <div class="testimonial-boxs">
							
                            <div class="testimonial-style2 owl-carousel owl-theme">
                                <div class="testimonial-block">
									<div class="flex-grow-1 ms-3">
                                            <h3 class="h5 mb-1">學　歷</h3>
								<span class="display-30 text-muted" >Education</span>
                                        </div>
                                    <p class="mb-3 mb-md-4 display-29 display-sm-28" style="padding-top: 10px;font-size: 0.9rem;">東吳大學法律學系畢業</p>
                                    
                                </div>
                                <div class="testimonial-block">
                                   <div class="flex-grow-1 ms-3">
                                            <h3 class="h5 mb-1">經　歷</h3>
								<span class="display-30 text-muted" >Experience</span>
                                        </div>
                                    <p class="mb-3 mb-md-4 display-29 display-sm-28" style="padding-top: 10px;font-size: 0.9rem;">103年律師高考及格<br>陸軍第十軍團指揮部人事評審委員會委員<br>
台灣勞工大聯盟總工會、臺中市職業總工會及各職業工會法律顧問<br>
臺中市政府警察局豐原分局、大雅分局國家賠償事件處理委員會委員<br>
臺中市和平區公所法律顧問</p>
									
                                </div>
                                
								
								
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <img src="img/team/poto1.jpg" alt="黃煦詮 律師">
                    </div>
                </div>
				
                
				
            </div>
        </section>
            </div>
        </section>

 





         <!-- FOOTER
        ================================================== -->

</th:block>

</body>

</html>