<!DOCTYPE html>
<html lang="zh-TW" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{fragments/layout}">

<head>
    <title>GUYAHSUAN Law Office | 古雅軒法律事務所 | Attorneys, etc. 律師等</title>
</head>

<body>

<th:block layout:fragment="content">

    <!-- 共用頁面標題區塊 -->
    <th:block th:replace="~{fragments/attorney-page-title :: attorney-page-title}"></th:block>

    <!-- attorney list
    ================================================== -->
    <section class="pt-0"style="background: #e3e4e5;padding-bottom: 200px;">
        <div class="container">
            <div class="section-heading"style="padding-bottom: 50px;">
                <span class="alt-font"style="letter-spacing:10px;">律師等</span>
                <h2>Attorneys, etc.</h2>
            </div>
             <!-- TEAM
    ================================================== -->
    <section style="padding: 0px">
        <div class="container">
                
                <div class="row mt-n1-9" >
                    <div class="col-sm-6 col-lg-4 mt-1-9">
                        <div class="card card-style6 border-radius-5 border-0" style="background-color:#e2e3e4">
                            <div class="team-img position-relative overflow-hidden border-radius-5">
                                <img src="/img/team/poto1.jpg" alt="黃煦詮 律師">
                                
                            </div>
                            <div class="card-body">
                                <h4><a href="/attorney_1.html">黃煦詮 律師</a></h4>
                                <span class="text-primary">所　長</span>
									
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mt-1-9">
                        <div class="card card-style6 border-radius-5 border-0" style="background-color:#e2e3e4">
                            <div class="team-img position-relative overflow-hidden border-radius-5">
                                <img src="/img/team/poto2.jpg" alt="鄭文朋 律師">
                                
                            </div>
                            <div class="card-body">
                                <h4><a href="/attorney_2.html">鄭文朋 律師</a></h4>
                                <span class="text-primary">律　師</span>
									
                            </div>
                        </div>
                    </div><div class="col-sm-6 col-lg-4 mt-1-9">
                        <div class="card card-style6 border-radius-5 border-0" style="background-color:#e2e3e4">
                            <div class="team-img position-relative overflow-hidden border-radius-5">
                                <img src="/img/team/poto3.jpg" alt="陳庭浩 律師">
                                
                            </div>
                            <div class="card-body">
                                <h4><a href="/attorney_3.html">陳庭浩 律師</a></h4>
                                <span class="text-primary">合署律師</span>
									
                            </div>
                        </div>
                    </div>
                    
                </div>
				<div class="row mt-n1-9" style="padding-top: 50px">
                    
                    
                    <div class="col-sm-6 col-lg-4 mt-1-9">
                        <div class="card card-style6 border-radius-5 border-0" style="background-color:#e2e3e4">
                            <div class="team-img position-relative overflow-hidden border-radius-5">
                                <img src="/img/team/poto4.jpg" alt="陳姿伃 法務">
                                
                            </div>
                            <div class="card-body">
                                <h4><a href="/attorney_4.html">陳姿伃</a></h4>
                                <span class="text-primary">法　務</span>
									
                            </div>
                        </div>
                    </div>
					<div class="col-sm-6 col-lg-4 mt-1-9">
                        <div class="card card-style6 border-radius-5 border-0" style="background-color:#e2e3e4">
                            <div class="team-img position-relative overflow-hidden border-radius-5">
                                <img src="/img/team/poto5.jpg" alt="郭玟妤 行政">
                                
                            </div>
                            <div class="card-body">
                                <h4><a href="#">郭玟妤</a></h4>
                                <span class="text-primary">行　政</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
    </section>

</th:block>

</body>

</html>