<!DOCTYPE html>
<html lang="zh-TW" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{fragments/layout}">

<head>
    <title>GUYAHSUAN Law Office | 古雅軒法律事務所 | Sucessful Cas 案件實績</title>
</head>

<body>

<th:block layout:fragment="content">

<!-- PAGE TITLE
        ================================================== -->
        <section class="top-position1 pt-0" style="background: #e3e4e5;padding-bottom: 70px;">
            <div class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="img/bg/bg-04.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <h1>Guyahsuan  Law Office</h1>
                                <p class="text-white fs-4 mb-0 letter-spacing-2" style="letter-spacing:7px;">/黃煦詮律師　鄭文朋律師 　陳庭浩律師</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
			        <!-- COUNTER
        ================================================== -->
        <section class="bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="img/case_bg.jpg">
            <div class="container">
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                           
                    </div>
                    
                    
                    
                </div>
            </div>
        </section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="case.html">Sucessful Case</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- attorney
        ================================================== -->
        <section class="pt-0"style="background: #e3e4e5;padding-bottom: 100px;">
            <div class="container">
                <div class="section-heading"style="padding-bottom: 50px;">
                    <span class="alt-font"style="letter-spacing:10px;">案件實績</span>
                    <h2>Sucessful Case</h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <article class="card card-style3 position-relative border-0 rounded-0 bg-transparent h-100">
                            <div class="card-img"><img src="img/case1.jpg">
                                <div class="tags">
                                    <a style="letter-spacing:10px;">刑事</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mb-3">
                                    <li class="d-inline-block me-3"><i class="far fa-calendar-check me-1 text-primary"></i> 2023.02.30</li>
                                </ul>
                                <h3 class="mb-3 h4"><a href="case-detailed.html">『竊盜』案件，再議成功。檢察官提起公訴</a></h3>
                                <p>古雅軒法律事務所－距離臺中地院25分鐘－為一處遠離市中心紛擾，鄰近台鐵頭家厝站、松竹站及中.....</p>
                                <a href="case-detailed.html" class="font-weight-500">Read more<i class="fas fa-long-arrow-alt-right align-middle ms-2 display-30"></i></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <article class="card card-style3 position-relative border-0 rounded-0 bg-transparent h-100">
                            <div class="card-img"><img src="img/case1.jpg">
                                <div class="tags">
                                    <a style="letter-spacing:10px;">刑事</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mb-3">
                                    <li class="d-inline-block me-3"><i class="far fa-calendar-check me-1 text-primary"></i > 2023.02.30</li>
                                </ul>
                                <h3 class="mb-3 h4"><a href="case-detailed.html">『竊盜』案件，再議成功。檢察官提起公訴</a></h3>
                                <p>古雅軒法律事務所－距離臺中地院25分鐘－為一處遠離市中心紛擾，鄰近台鐵頭家厝站、松竹站及中.....</p>
                                <a href="case-detailed.html" class="font-weight-500">Read more<i class="fas fa-long-arrow-alt-right align-middle ms-2 display-30"></i></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <article class="card card-style3 position-relative border-0 rounded-0 bg-transparent h-100">
                            <div class="card-img"><img src="img/case1.jpg">
                                <div class="tags">
                                    <a style="letter-spacing:10px;">刑事</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mb-3">
                                    <li class="d-inline-block me-3"><i class="far fa-calendar-check me-1 text-primary"></i> 2023.02.30</li>
                                </ul>
                                <h3 class="mb-3 h4"><a href="case-detailed.html">『竊盜』案件，再議成功。檢察官提起公訴</a></h3>
                                <p>古雅軒法律事務所－距離臺中地院25分鐘－為一處遠離市中心紛擾，鄰近台鐵頭家厝站、松竹站及中.....</p>
                                <a href="case-detailed.html" class="font-weight-500">Read more<i class="fas fa-long-arrow-alt-right align-middle ms-2 display-30"></i></a>
                            </div>
                        </article>
                    </div>
					<div class="col-md-6 col-lg-4 mt-1-9">
                        <article class="card card-style3 position-relative border-0 rounded-0 bg-transparent h-100">
                            <div class="card-img"><img src="img/case1.jpg">
                                <div class="tags">
                                    <a style="letter-spacing:10px;">刑事</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mb-3">
                                    <li class="d-inline-block me-3"><i class="far fa-calendar-check me-1 text-primary"></i> 2023.02.30</li>
                                </ul>
                                <h3 class="mb-3 h4"><a href="case-detailed.html">『竊盜』案件，再議成功。檢察官提起公訴</a></h3>
                                <p>古雅軒法律事務所－距離臺中地院25分鐘－為一處遠離市中心紛擾，鄰近台鐵頭家厝站、松竹站及中.....</p>
                                <a href="case-detailed.html" class="font-weight-500">Read more<i class="fas fa-long-arrow-alt-right align-middle ms-2 display-30"></i></a>
                            </div>
                        </article>
                    </div>
					<div class="col-md-6 col-lg-4 mt-1-9">
                        <article class="card card-style3 position-relative border-0 rounded-0 bg-transparent h-100">
                            <div class="card-img"><img src="img/case1.jpg">
                                <div class="tags">
                                    <a style="letter-spacing:10px;">刑事</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mb-3">
                                    <li class="d-inline-block me-3"><i class="far fa-calendar-check me-1 text-primary"></i> 2023.02.30</li>
                                </ul>
                                <h3 class="mb-3 h4"><a href="case-detailed.html">『竊盜』案件，再議成功。檢察官提起公訴</a></h3>
                                <p>古雅軒法律事務所－距離臺中地院25分鐘－為一處遠離市中心紛擾，鄰近台鐵頭家厝站、松竹站及中.....</p>
                                <a href="case-detailed.html" class="font-weight-500">Read more<i class="fas fa-long-arrow-alt-right align-middle ms-2 display-30"></i></a>
                            </div>
                        </article>
                    </div>
					<div class="col-md-6 col-lg-4 mt-1-9">
                        <article class="card card-style3 position-relative border-0 rounded-0 bg-transparent h-100">
                            <div class="card-img"><img src="img/case1.jpg">
                                <div class="tags">
                                    <a style="letter-spacing:10px;">刑事</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mb-3">
                                    <li class="d-inline-block me-3"><i class="far fa-calendar-check me-1 text-primary"></i> 2023.02.30</li>
                                </ul>
                                <h3 class="mb-3 h4"><a href="case-detailed.html">『竊盜』案件，再議成功。檢察官提起公訴</a></h3>
                                <p>古雅軒法律事務所－距離臺中地院25分鐘－為一處遠離市中心紛擾，鄰近台鐵頭家厝站、松竹站及中.....</p>
                                <a href="case-detailed.html" class="font-weight-500">Read more<i class="fas fa-long-arrow-alt-right align-middle ms-2 display-30"></i></a>
                            </div>
                        </article>
                    </div>
					
                </div>
				<div class="row">
                    <div class="col-sm-12">
                        <!-- start pager  -->
                        <div class="text-center mt-6 mt-lg-7">
                            <div class="pagination">
                                <ul>
                                    <li><a href="#!" class="me-3"><i class="fas fa-long-arrow-alt-left"></i></a></li>
                                    <li class="active"><a href="#!" class="me-2">1</a></li>
                                    <li><a href="#!" class="me-2">2</a></li>
                                    <li><a href="#!" class="me-3">3</a></li>
                                    <li><a href="#!"><i class="fas fa-long-arrow-alt-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end pager -->
                    </div>
                </div>
				
            </div>
        </section>

 





         <!-- FOOTER
        ================================================== -->

</th:block>

</body>

</html>