<!DOCTYPE html>
<html lang="zh-TW" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{fragments/layout}">

<head>
    <title>GUYAHSUAN Law Office | 古雅軒法律事務所 | Sucessful Cas 案件實績</title>
</head>

<body>

<th:block layout:fragment="content">

<!-- PAGE TITLE
        ================================================== -->
        <section class="top-position1 pt-0" style="background: #e3e4e5;padding-bottom: 70px;">
            <div class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="img/bg/bg-04.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <h1>Guyahsuan  Law Office</h1>
                                <p class="text-white fs-4 mb-0 letter-spacing-2" style="letter-spacing:7px;">/黃煦詮律師　鄭文朋律師 　陳庭浩律師</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
			        <!-- COUNTER
        ================================================== -->
        <section class="bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="img/case_bg.jpg">
            <div class="container">
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                           
                    </div>
                    
                    
                    
                </div>
            </div>
        </section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="case.html">Sucessful Case</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- attorney
        ================================================== -->
        <section class="pt-0"style="background: #e3e4e5;padding-bottom: 100px;">
            <div class="container">
                <div class="section-heading"style="padding-bottom: 50px;">
                    <span class="alt-font"style="letter-spacing:10px;">案件實績</span>
                    <h2>Sucessful Case</h2>
                </div>
                        <!-- Blog Details
        ================================================== -->
        <section class="pt-0">
            <div class="container">
                <div class="row">
					                   <!--  start blog right-->
                    <div class="col-lg-4" style="width:16.5%">
                        
                    </div>
                    <!--  end blog right-->
					
                    <!--  start blog left-->
                    <div class="col-lg-8 mb-2-9 mb-lg-0">
                        <div class="pe-lg-1-9 pe-xl-2-5">
                            <div class="row">
                                <div class="col-lg-12">
                                    <article class="card card-style7">
                                        <img src="img/case-01.jpg">
                                        <div class="card-body p-1-6 p-sm-1-9 p-xl-2-2">
                                            <h2 class="h3 mb-3" style="font-size: 1.3rem;color:#000;">『竊盜』案件，再議成功。檢察官提起公訴</h2>
                                            <ul class="blog-meta">
                                                <li><i class="far fa-calendar-check me-2 text-primary"></i>2023.02.30</li>
                                                <li style="letter-spacing:10px;"><i class="fa fa-user me-2 text-primary"></i>刑事</li>
                                            </ul>
                                            <p class="w-lg-95 mb-2-2">在刑事案件中，檢察官是否「起訴」當事人，往往決定了案件是否會進入法院審理。<br>許多民眾在遇到刑事糾紛時，常常聽到「不起訴處分」、「聲請再議」甚至「發回續行偵查」這些專業用語，卻不清楚其中的意義與關聯。本文由謙聖國際法律事務所為您說明這三個常見程序，讓您在面對刑事案件時更有方向。<br>一、什麼是「不起訴處分」？<br> 當檢察官偵查完一件刑案後，若認為證據不足、罪嫌不足，或是符合《刑事訴訟法》第252條規定的其他情況（如行為不罰、時效已過、被害人撤回告訴等），就可能做出「不起訴處分」。<br> ➙簡單來說，就是檢察官認為沒有必要將案件移送法院審理，選擇結束偵查程序。<br><br><img src="img/case-01.jpg"><br><br>enlightened常見的不起訴原因包括： • 證據不足，無法證明犯罪成立 • 行為不構成犯罪 • 犯罪已逾追訴時效 • 被害人撤回告訴（限於告訴乃論之罪）</p>
											
											
                                            
                                            
                                            
                                            
                                            
                                            <div class="separator">
											<div class="pagination">
                                <ul>
                                    <li><a href="case.html" class="me-3"><i class="fas fa-long-arrow-alt-left"></i></a></li>
                                </ul>
                            </div>
											</div>
                                            
                                        </div>
                                    </article>
                                </div>

                                

                            </div>
                        </div>
                    </div>
                    <!--  end blog left-->


                </div>
            </div>
        </section>
				
				
            </div>
        </section>

 





         <!-- FOOTER
        ================================================== -->

</th:block>

</body>

</html>