<!DOCTYPE html>
<html lang="zh-TW" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{fragments/layout}">

<head>
    <title>GUYAHSUAN Law Office | 古雅軒法律事務所 | Free Legal Counsel 免費法律諮詢</title>
</head>

<body>

<th:block layout:fragment="content">

<!-- PAGE TITLE
        ================================================== -->
        <section class="top-position1 pt-0" style="background: #e3e4e5;">
            <div class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="/img/bg/bg-04.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <h1>Guyahsuan  Law Office</h1>
                                <p class="text-white fs-4 mb-0 letter-spacing-2" style="letter-spacing:7px;">/黃煦詮律師　鄭文朋律師 　陳庭浩律師</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
			        <!-- COUNTER
        ================================================== -->
        <section class="bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="/img/consultation_bg.jpg">
            <div class="container">
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                           
                    </div>
                    
                    
                    
                </div>
            </div>
        </section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb">
                            <ul>
                                <li><a href="/index.html">Home</a></li>
                                <li><a href="/consultation.html">Free Legal Counsel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ABOUTUS
        ================================================== -->
        <section class="about-style3" style="padding-bottom:200px;padding-top: 0px;background: #e3e4e5;">
            <div class="container">
				<div class="section-heading"  style="padding-bottom:60px;">
                    <span class="alt-font"style="letter-spacing:10px;">免費法律諮詢</span>
                    <h2>Free Legal Counsel</h2>
                </div>
                <div class="row align-items-center mt-n2-6">
                    <div class="col-lg-6 order-2 order-lg-1 mt-2-6">
                        <h2 class="h1 mb-4 font-weight-700 w-95" style="font-size: 2.0rem;font-weight:300;">Service Time</h2>
                        <p class="mb-2-2 display-28">曾朝榮議員服務處：<br>臺中市北屯區東山路一段156-6號<br>周六上午10：00 ~ 12：00<br>敬請事先預約：04 2436 2995<br><br><br>三分埔松聖宮：<br>臺中市北屯區松竹路二段308號<br>
每週二晚上7:30-9:00<br>
敬請事先預約：04 2242 8291<br><br><br>

黃國書立委服務處：<br>
時間和地點都不太確定每月只有一次</p>
                        <div class="row mt-n1-9">
                            
                            
                            
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 ps-lg-1-9 ps-xl-0 mt-2-6">
                        <div class="row g-3">
                            <div class="col-12 mt-0">
                                <div class="text-end">
                                    <img class="border-radius-5" src="/img/consultation-01.jpg" alt="古雅軒法律事務所">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-end">
                                    <img class="border-radius-5" src="/img/consultation-03.jpg" alt="古雅軒法律事務所">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-end">
                                    <img class="border-radius-5" src="/img/consultation-02.jpg" alt="古雅軒法律事務所">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


 





         <!-- FOOTER
        ================================================== -->

</th:block>

</body>

</html>