<!DOCTYPE html>
<html lang="zh-TW" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{fragments/layout}">

<head>
    <title>GUYAHSUAN Law Office | 古雅軒法律事務所 | Business Areas 業務領域</title>
</head>

<body>

<th:block layout:fragment="content">

<!-- PAGE TITLE
        ================================================== -->
        <section class="top-position1 pt-0" >
            <div class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="img/bg/bg-04.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <h1>Guyahsuan  Law Office</h1>
                                <p class="text-white fs-4 mb-0 letter-spacing-2" style="letter-spacing:7px;">/黃煦詮律師　鄭文朋律師 　陳庭浩律師</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
			        <!-- COUNTER
        ================================================== -->
        <section class="bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="img/service_bg.jpg">
            <div class="container">
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                           
                    </div>
                    
                    
                    
                </div>
            </div>
        </section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="service.html">Business Areas</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ABOUTUS
        ================================================== -->
        <section class="about-style3" style="padding-bottom:200px;padding-top: 0px;">
            <div class="container">
				<div class="section-heading"  style="padding-bottom:60px;">
                    <span class="alt-font"style="letter-spacing:10px;">業務領域</span>
                    <h2>Business  Areas</h2>
                </div>
                <div class="row align-items-center mt-n2-6">
                    <div class="col-lg-6 order-2 order-lg-1 mt-2-6">
                        <div class="row mt-n1-9">
                            <div class="col-sm-6 mt-1-9">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="img/service_icon.jpg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h5" style="font-size: 0.9rem; color:#000;">Litigation</h4>
                                        <p class="mb-0 w-xl-95"style="letter-spacing:2px;color:#666666;font-size: 1.0rem;">各類訴訟</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-1-9">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="img/service_icon.jpg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h5"style="font-size: 0.9rem; color:#000;">Preventive Counseling</h4>
                                        <p class="mb-0 w-xl-95"style="letter-spacing:2px;color:#666666;font-size: 1.0rem;">預防諮詢</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-1-9">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="img/service_icon.jpg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h5"style="font-size: 0.9rem; color:#000;">Mediation Negotiation</h4>
                                        <p class="mb-0 w-xl-95"style="letter-spacing:2px;color:#666666;font-size: 1.0rem;">調解談判</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-1-9">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="img/service_icon.jpg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h5"style="font-size: 0.9rem; color:#000;">Compulsory Enforcement</h4>
                                        <p class="mb-0 w-xl-95"style="letter-spacing:2px;color:#666666;font-size: 1.0rem;">非訟強執</p>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 mt-1-9">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="img/service_icon.jpg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h5"style="font-size: 0.9rem; color:#000;">Debt Settlement</h4>
                                        <p class="mb-0 w-xl-95"style="letter-spacing:2px;color:#666666;font-size: 1.0rem;">債務清理</p>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 mt-1-9">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="img/service_icon.jpg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h5"style="font-size: 0.9rem; color:#000;">Legal Advisor</h4>
                                        <p class="mb-0 w-xl-95"style="letter-spacing:2px;color:#666666;font-size: 1.0rem;">法律顧問</p>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 mt-1-9">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="img/service_icon.jpg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h5"style="font-size: 0.9rem; color:#000;">Writing Appointment</h4>
                                        <p class="mb-0 w-xl-95"sstyle="letter-spacing:2px;color:#666666;font-size: 1.0rem;">撰狀擬約</p>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 mt-1-9">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="img/service_icon.jpg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h5"style="font-size: 0.9rem; color:#000;">Will Witness</h4>
                                        <p class="mb-0 w-xl-95"style="letter-spacing:2px;color:#666666;font-size: 1.0rem;">遺囑見證</p>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 mt-1-9">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="img/service_icon.jpg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h5"style="font-size: 0.9rem; color:#000;">Prosecutors And Police Officers</h4>
                                        <p class="mb-0 w-xl-95"style="letter-spacing:2px;color:#666666;font-size: 1.0rem;">檢警陪偵</p>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 mt-1-9">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="img/service_icon.jpg">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h4 class="h5"style="font-size: 0.9rem; color:#000;">Detention Law</h4>
                                        <p class="mb-0 w-xl-95"style="letter-spacing:2px;color:#666666;font-size: 1.0rem;">羈押律見</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 ps-lg-1-9 ps-xl-0 mt-2-6">
                        <div class="row g-3">
                            <div class="col-12 mt-0">
                                <div class="text-end">
                                    <img class="border-radius-5" src="img/service-01.jpg" alt="古雅軒法律事務所">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-end">
                                    <img class="border-radius-5" src="img/service-03.jpg" alt="古雅軒法律事務所">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-end">
                                    <img class="border-radius-5" src="img/service-02.jpg" alt="古雅軒法律事務所">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


 





         <!-- FOOTER
        ================================================== -->

</th:block>

</body>

</html>