<!DOCTYPE html>
<html lang="zh-TW" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{fragments/layout}">

<head>
    <title>GUYAHSUAN Law Office | 古雅軒法律事務所 | Intelligence Sharing 情報分享</title>
</head>

<body>

<th:block layout:fragment="content">

<!-- PAGE TITLE
        ================================================== -->
        <section class="top-position1 pt-0" style="background: #e3e4e5;padding-bottom: 70px;">
            <div class="page-title-section bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="img/bg/bg-04.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <h1>Guyahsuan  Law Office</h1>
                                <p class="text-white fs-4 mb-0 letter-spacing-2" style="letter-spacing:7px;">/黃煦詮律師　鄭文朋律師 　陳庭浩律師</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
			        <!-- COUNTER
        ================================================== -->
        <section class="bg-img cover-background secondary-overlay" data-overlay-dark="8" data-background="img/share_bg.jpg">
            <div class="container">
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9">
                           
                    </div>
                    
                    
                    
                </div>
            </div>
        </section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="share.html">Intelligence Sharing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- attorney
        ================================================== -->
        <section class="pt-0"style="background: #e3e4e5;padding-bottom: 100px;">
            <div class="container">
                <div class="section-heading"style="padding-bottom: 50px;">
                    <span class="alt-font"style="letter-spacing:10px;">情報分享</span>
                    <h2>Intelligence Sharing</h2>
                </div>
                        <!-- Blog Details
        ================================================== -->
        <section class="pt-0">
            <div class="container">
                <div class="row">
					                   <!--  start blog right-->
                    <div class="col-lg-4" style="width:16.5%">
                        
                    </div>
                    <!--  end blog right-->
					
                    <!--  start blog left-->
                    <div class="col-lg-8 mb-2-9 mb-lg-0">
                        <div class="pe-lg-1-9 pe-xl-2-5">
                            <div class="row">
                                <div class="col-lg-12">
                                    <article class="card card-style7">
                                        <img src="img/share-01.jpg">
                                        <div class="card-body p-1-6 p-sm-1-9 p-xl-2-2">
                                            <h2 class="h3 mb-3" style="font-size: 1.3rem;color:#000;">酒駕相關民刑事責任-者即符合「不能安全駕 駛」也就是俗 稱「酒駕」。</h2>
                                            <ul class="blog-meta">
                                                <li><i class="far fa-calendar-check me-2 text-primary"></i>2023.02.30</li>
                                            </ul>
                                            <p class="w-lg-95 mb-2-2">根據刑法第185條之3第1項第1款規定，駕駛人「吐氣所含酒精濃度達每公升0.25毫克或血液中酒精濃度達百分之0.05以上」者即符
合「不能安全駕駛」也就是俗稱「酒駕」。<br><br>


因此，駕駛人違反前開規定致被害人受有損害時，以下案例解釋在不同事件態樣下的法律效果及其適用法條。<br>

根據刑法第185條之3第1項第1款規定，駕駛人「吐氣所含酒精濃度達每公升0.25毫克或血液中酒精濃度達百分之0.05以上」者即符
合「不能安全駕駛」也就是俗稱「酒駕」。<br>

定，駕駛人「吐氣所含酒精濃度達每公升0.25毫克或血液中酒精濃度達百分之0.05以上」者即符
合「不能安全駕駛」也就是俗稱「酒駕」。</p>
											
											
                                            
                                            
                                            
                                            
                                            
                                            <div class="separator">
											<div class="pagination">
                                <ul>
                                    <li><a href="share.html" class="me-3"><i class="fas fa-long-arrow-alt-left"></i></a></li>
                                </ul>
                            </div>
											</div>
                                            
                                        </div>
                                    </article>
                                </div>

                                

                            </div>
                        </div>
                    </div>
                    <!--  end blog left-->


                </div>
            </div>
        </section>
				
				
            </div>
        </section>

 





         <!-- FOOTER
        ================================================== -->

</th:block>

</body>

</html>