<footer th:fragment="footer" class="bg-secondary1 pt-0">
    <div class="container border-color-light-white py-2-5 py-md-6 mb-6 mb-md-8 mb-lg-10" style="border-bottom-width: 0px;">
        
    </div>
    <div class="container">
        <div class="row mt-n2-6">
            <div class="col-sm-6 col-xl-3 mt-2-6">
                <div class="mb-1-6 mb-lg-1-9">
                    <a href="index.html" class="footer-logo"><img src="img/logos/footer-light-logo.png"></a>
                </div>
                <p class="text-white mb-1-6 mb-lg-1-9 opacity9 display-30 display-lg-29">Copyright 2025 Guyahsuan Law Office.<br>
All Rights Reserved.<br>
Design by <a href="https://origin.tw/" target="_black">origin.DESIGN | 回原設計</a></p>
                
            </div>
            <div class="col-sm-6 col-xl-3 mt-2-6">
                <div class="ps-sm-1-6 ps-md-1-9">
                    <h3 class="footer-title">Contact us</h3>
                    <ul class="contact-list">
                        <li><span class="fas fa-map-marker-alt pe-3 text-white"></span>台中市潭子區中山路一段1巷58號</li>
                        <li><span class="fa fa-phone-alt pe-3 text-white"></span>TEL：04-25353236<br>FAX：04-25353210</li>
                        <li><span class="fas fa-globe pe-3 text-white"></span><a href="https://www.guyahs.com/">www.guyahs.com</a></li>
                        <li><span class="fa fa-envelope pe-3 text-white"></span><a href="mailto:guyahsuan@gmail.com">guyahsuan@gmail.com</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3 mt-2-6">
                <div class="ps-xl-1-9">
                    <h3 class="footer-title">Site Map</h3>
                    <ul class="footer-list-style1">
                        <li><a href="attorney.html">Attorneys, etc.</a></li>
                        <li><a href="service.html">Business Areas</a></li>
                        <li><a href="case.html">Sucessful Case</a></li>
                        <li><a href="share.html">Intelligence Sharing</a></li>
                        <li><a href="about.html">Office Introduction</a></li>
                        <li><a href="consultation.html">Free Legal Counsel</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    <div class="footer-bar">
        
    </div>
</footer>
