<header th:fragment="header" th:class="'header-style' + (${headerStyle} ?: '2') + ' ' + (${headerMenuClass} ?: 'menu_area-light')">

    <div class="navbar-default border-bottom border-color-light-white">

        <!-- start top search -->
        <div th:class="'top-search ' + (${searchBg} ?: 'bg-secondary')">
            <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                    <div class="input-group">
                        <span class="input-group-addon cursor-pointer">
                            <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                        </span>
                        <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                        <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                    </div>
                </form>
            </div>
        </div>
        <!-- end top search -->

        <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="menu_area alt-font">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <div class="navbar-header navbar-header-custom">
                                <!-- start logo -->
                                <a href="index.html" class="navbar-brand logodefault"><img id="logo" src="img/logos/logo.png" alt="logo"></a>
                                <!-- end logo -->
                            </div>

                            <div th:class="'navbar-toggler ' + (${togglerBg} ?: '')"></div>

                            <!-- start menu area -->
                            <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                <li><a href="attorney.html" style="letter-spacing:4px;">律師等</a></li>
                                <li><a href="service.html" style="letter-spacing:4px;">業務領域</a></li>
                                <li><a href="case.html" style="letter-spacing:4px;">案件實績</a></li>
                                <li><a href="share.html" style="letter-spacing:4px;">情報分享</a></li>
                                <li><a href="about.html" style="letter-spacing:4px;">事務所概要</a></li>
                            </ul>
                            <!-- end menu area -->

                            <!-- start attribute navigation -->
                            <div class="attr-nav align-items-xl-center ms-xl-auto main-font">
                                <ul>
                                    <li class="d-none d-xl-inline-block"><a href="consultation.html" class="butn md text-white">免費法律諮詢</a></li>
                                </ul>
                            </div>
                            <!-- end attribute navigation -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
