<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <base th:href="@{/}" href="/">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- title  -->
    <title th:text="${pageTitle} ?: 'GUYAHSUAN Law Office | 古雅軒法律事務所'">GUYAHSUAN Law Office | 古雅軒法律事務所</title>
    <meta name="keywords" content="GUYAHSUAN、古雅軒法律事務所、古雅軒、法律事務所、黃煦詮律師、台中法律事務所、專業法律服務、各類訴訟、預防諮詢、調解談判、非訟強執、債務清理、法律顧問、撰狀擬約、遺囑見證、檢警陪偵、羈押律見" />
    <meta name="description" content="GUYAHSUAN、古雅軒法律事務所、古雅軒、法律事務所、黃煦詮律師、台中法律事務所、專業法律服務、各類訴訟、預防諮詢、調解談判、非訟強執、債務清理、法律顧問、撰狀擬約、遺囑見證、檢警陪偵、羈押律見" />

    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/img/logos/favicon.png}" href="/img/logos/favicon.png" />
    <link rel="apple-touch-icon" th:href="@{/img/logos/apple-touch-icon-57x57.png}" href="/img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/logos/apple-touch-icon-72x72.png}" href="/img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/logos/apple-touch-icon-114x114.png}" href="/img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" th:href="@{/css/plugins.css}" href="/css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" th:href="@{/search/search.css}" href="/search/search.css" />

    <!-- quform css -->
    <link rel="stylesheet" th:href="@{/quform/css/base.css}" href="/quform/css/base.css">

    <!-- theme core css -->
    <link th:href="@{/css/styles.css}" href="/css/styles.css" rel="stylesheet">

    <!-- custom css -->
    <link th:href="@{/css/custom.css}" href="/css/custom.css" rel="stylesheet">

    <!-- Additional CSS can be inserted by child templates -->
    <th:block layout:fragment="extra-css"></th:block>

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <th:block th:replace="~{fragments/header :: header}"></th:block>

        <!-- PAGE CONTENT
        ================================================== -->
        <th:block layout:fragment="content"></th:block>

        <!-- FOOTER
        ================================================== -->
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>

    </div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>

    <!-- popper js -->
    <script th:src="@{/js/popper.min.js}" src="/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js"></script>

    <!-- search -->
    <script th:src="@{/search/search.js}" src="/search/search.js"></script>

    <!-- navigation -->
    <script th:src="@{/js/nav-menu.js}" src="/js/nav-menu.js"></script>

    <!-- tab -->
    <script th:src="@{/js/easy.responsive.tabs.js}" src="/js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script th:src="@{/js/owl.carousel.js}" src="/js/owl.carousel.js"></script>

    <!-- owl carousel thumb -->
    <script th:src="@{/js/owl.carousel.thumbs.js}" src="/js/owl.carousel.thumbs.js"></script>

    <!-- jquery.counterup.min -->
    <script th:src="@{/js/jquery.counterup.min.js}" src="/js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script th:src="@{/js/jquery.stellar.min.js}" src="/js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script th:src="@{/js/waypoints.min.js}" src="/js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script th:src="@{/js/countdown.js}" src="/js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script th:src="@{/js/jquery.magnific-popup.min.js}" src="/js/jquery.magnific-popup.min.js"></script>

    <!-- lightgallery js -->
    <script th:src="@{/js/lightgallery-all.js}" src="/js/lightgallery-all.js"></script>

    <!-- mousewheel js -->
    <script th:src="@{/js/jquery.mousewheel.min.js}" src="/js/jquery.mousewheel.min.js"></script>

    <!--  clipboard js -->
    <script th:src="@{/js/clipboard.min.js}" src="/js/clipboard.min.js"></script>

    <!--  prism js -->
    <script th:src="@{/js/prism.js}" src="/js/prism.js"></script>

    <!-- custom scripts -->
    <script th:src="@{/js/main.js}" src="/js/main.js"></script>

    <!-- form plugins js -->
    <script th:src="@{/quform/js/plugins.js}" src="/quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script th:src="@{/quform/js/scripts.js}" src="/quform/js/scripts.js"></script>

    <!-- Additional JS can be inserted by child templates -->
    <th:block layout:fragment="extra-js"></th:block>

</body>

</html>
