# 環境變數
.env

# Maven
target/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/

# Node
node_modules/
dist/

# Uploads
uploads-law/
# Deploy
deploy/sas.war
deploy/.env

# Uploads
uploads-law/

src/main/resources/static/admin/